In [158]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline     
sns.set(color_codes=True)

benin_df = pd.read_csv("../data/benin-malanville.csv")
benin_df.dtypes

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

1. **Summary statistics**

In [159]:
benin_df.describe(percentiles=[0.5]).T

                  count        mean         std    min    50%     max
GHI            525600.0  240.559452  331.131327  -12.9    1.8  1413.0
DNI            525600.0  167.187516  261.710501   -7.8   -0.1   952.3
DHI            525600.0  115.358961  158.691074  -12.6    1.6   759.2
ModA           525600.0  236.589496  326.894859    0.0    4.5  1342.3
ModB           525600.0  228.883576  316.536515    0.0    4.3  1342.3
Tamb           525600.0   28.179683    5.924297   11.0   28.0    43.8
RH             525600.0   54.487969   28.073069    2.1   55.1   100.0
WS             525600.0    2.121113    1.603466    0.0    1.9    19.5
WSgust         525600.0    2.809195    2.029120    0.0    2.6    26.6
WSstdev        525600.0    0.473390    0.273395    0.0    0.5     4.2
WD             525600.0  153.435172  102.332842    0.0  181.0   360.0
WDstdev        525600.0    8.582407    6.385864    0.0    8.6    99.4
BP             525600.0  994.197199    2.474993  985.0  994.0  1003.0
Cleaning       525600.0    0.000923    0.030363    0.0    0.0     1.0
Precipitation  525600.0    0.001905    0.037115    0.0    0.0     2.5
TModA          525600.0   35.246026   14.807258    9.0   30.0    81.0
TModB          525600.0   32.471736   12.348743    8.1   28.9    72.5
Comments            0.0         NaN         NaN    NaN    NaN     NaN

2. **Data Quality Check**

In [160]:
benin_df.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

From the output above, there are no missing values for all columns from the dataset except for the 'Comments' column.
The total number of missing values for this column *equals* the number of rows for the dataset. This indicates that
there is no data for the 'Comments' column for all records. Therefore, the 'Comments' column must be _dropped_.

In [161]:
# Drop 'Comments' column
benin_df = benin_df.dropna(axis=1,thresh=100000)
benin_df.count()

Timestamp        525600
GHI              525600
DNI              525600
DHI              525600
ModA             525600
ModB             525600
Tamb             525600
RH               525600
WS               525600
WSgust           525600
WSstdev          525600
WD               525600
WDstdev          525600
BP               525600
Cleaning         525600
Precipitation    525600
TModA            525600
TModB            525600
dtype: int64

In [162]:
df_excluded = benin_df.drop(columns=['Timestamp'])
# Function to count outliers for a specific column
def count_outliers(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = column[(column < lower_bound) | (column > upper_bound)]
    return len(outliers)

# Count outliers for every column
outlier_counts = df_excluded.apply(count_outliers)

print("Outlier counts for each column:")
print(outlier_counts)

Outlier counts for each column:
GHI                 145
DNI               15196
DHI                8733
ModA                 98
ModB                240
Tamb                222
RH                    0
WS                 6717
WSgust             5368
WSstdev          107372
WD                    0
WDstdev            7251
BP                10288
Cleaning            485
Precipitation      3789
TModA                 1
TModB               257
dtype: int64

Using interquartile range(IQR) for determining outliers, the output of the cell above indicates the number of outliers for each column.

In [175]:
#Function to count the number of negative values for a given column
def count_negatives(column):
    negtvs = [ x for x in column if x < 0]
    return len(negtvs)
    
# Count outliers for every column
negative_counts = df_excluded.apply(count_negatives)
#negative_counts = count_negatives(benin_df['GHI'])
print("Negative value counts for each column:")
print(negative_counts)

Negative value counts for each column:
0        -1.2
1        -1.1
2        -1.1
3        -1.1
4        -1.0
         ...
525595   -5.5
525596   -5.5
525597   -5.5
525598   -5.5
525599   -5.5
Name: GHI, Length: 525600, dtype: float64